.foother{
    width: 100%;
    height: 25%;
    background-color: black;
    position: absolute;
    top: end;
   color: snow;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}
.foother h1{
    color: yellow;
}

.sec{
   width: 25%;
   height: 40%;
   text-align: center;
   margin-top: 5px;
}
.sec span{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: yellow;
    margin-left: 5px;
}
.end{
    text-align: center;
}